<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf work pad</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styling.css}" />
</head>
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="map" type="com.example.sj8.Map<Integer,User>"-->
<!--@thymesVar id="entry" type="com.example.sj8.Entry<Integer,User>"-->
<!--@thymesVar id="entry.value" type="com.example.sj8.User"-->
<!--*/-->
<body style="background-image:url(/images/nice.jpg)">

<div class="block1">
    <a th:href="@{/inde}">Go to inde.html</a>

    <h3>You can join too:</h3>
<form method="post" >
    User name<input type="text" name="username" value="anna"/>
    Password<input type="text" name="password" value="123"/>
    <input type="submit" name="create" value="Create"/>
</form>
<b>Members:</b>
<form method="post" th:each="entry : ${map}" >
    <div th:object="${entry}">
        <a th:href="@{'/inde/' + ${entry.value.username}}">Go to inde.html</a>
        <!-- VIGTIGT: byg link som nedenfor. Brug IKKE " eller '. Brug istedet ...link(param1=value, p2=v2) -->
        <a href="details.html" th:href="@{/order/details(orderId=*{value.username}, pw=*{value.password})}">viewwww</a>
    <input type="text" name="username" th:value="*{value.username}" />
    <input type="text" name="password" th:value="${entry.value.password}" />
    <input type="hidden" name="id" th:value="${entry.value.id}" />
    <input type="submit" name="update" value="Update" />
    <input type="submit" name="delete" value="Delete" />
    </div>
</form>
</div>

</body>
</html>