<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styling.css}" />
</head>
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="map" type="com.example.sj8.Map<Integer,User>"-->
<!--@thymesVar id="users" type="com.example.sj8.List<User>"-->
<!--@thymesVar id="entry" type="com.example.sj8.Entry<Integer,User>"-->
<!--@thymesVar id="entry.value" type="com.example.sj8.User"-->
<!--*/-->
<body style="background-image:url(/images/nice.jpg)">

<div class="block1">
    <h3>You can join too:</h3>
<form method="post" >
    User name<input type="text" name="username" value="anna"/>
    Password<input type="text" name="password" value="123"/>
    <input type="submit" name="create" value="Create"/>
</form>
<b>Members:</b>
<form method="post" th:each="entry : ${users}" >
    <input type="text" name="username" th:value="${entry.username}" />
    <input type="text" name="password" th:value="${entry.password}" />
    <input type="hidden" name="id" th:value="${entry.id}" />
    <input type="submit" name="update" value="Update" />
    <input type="submit" name="delete" value="Delete" />
</form>
</div>
</body>
</html>