<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymleaf Work Area</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styling.css}" />
</head>
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="map" type="com.example.sj8.Map<Integer,User>"-->
<!--@thymesVar id="entry" type="com.example.sj8.Entry<Integer,User>"-->
<!--@thymesVar id="entry.value" type="com.example.sj8.User"-->
<!--*/-->
<body style="background-image:url(/images/nice.jpg)">

<div class="block1">
    Established locale country: <span th:text="${#locale.country}">US</span>.


    <p>
        Today is: <span th:text="${#calendars.format(today,'dd MMMM yyyy')}">13 May 2011</span>
    </p>
</div>
</body>
</html>